body {
    font-size: 14px;
    margin: 0;
    padding: 30px;
}

.row {
    display: flex;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;

}

/* header */
.header-top {
    background: var(--White, rgba(255, 255, 255, 1));


}

.header-bar {
    width: Fixed (1, 920px)px;
    height: Fixed (64px)px;
    padding: 24px 0px 0px 0px;
    gap: 0px;
    justify: space-between;
    opacity: 0px;
}

.weather {
    width: 276px;
    height: 40px;
}

.menu {
    font-size: 35px;
    color: blue;
    line-height: 100%;
}

.wather-1 {
    font-size: 35px;
    padding: 4px 2px 3.11px 2px;
    color: aqua;
    padding-right: 15px;
}

.weather .wather-meme {
    display: flex;
    margin-top: -40px;
    margin-left: 40px;
    color: #000;
}

.header-mid {
    width: Fill (604px)px;
    height: Hug (40px)px;
    gap: 24px;
    opacity: 0px;

}

.box-search {
    width: 280px;
    border: 1px solid #ccc;
    padding-right: 40px;
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
}

.logo>span>img {
    height: 50px;
    float: left;
}

.fastmenu {
    clear: both;
}

.fastmenu .item {
    font-size: 25px;
    border-radius: 5px;
    padding: 8px;
}

.fastmenu .item-1 {
    background: var(--Blue, rgba(66, 132, 243, 1));

}

.fastmenu .item>img {
    width: 40px;
    height: 40px;
}

.fastmenu .profile {
    width: Hug (72px)px;
    height: Hug (40px)px;
    gap: 8px;
    opacity: 0px;

}

.fastmenu .item:hover {
    background: var(--Hover, rgba(52, 152, 219, 0.2));

}

.fastmenu ul {
    padding-top: 5px;
}

.fastmenu ul li {
    display: inline-block;
    padding: 5px 0;
}

.fastmenu ul li a {
    display: block;
    padding: 0 10px;

}

.box-search {
    width: 280px;
    border: 1px solid #ccc;
    position: relative;
    padding-right: 40px;
    margin-left: 20px;
    border-radius: 50px;
    float: left;
}

.box-search input {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 50px;
}

.btn-search {
    background: no-repeat;
    border: none;
    position: absolute;
    padding: 2px 10px;
    top: 7px;
    right: 0;
}