@font-face {
font-family: "inter";
src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
font-family: "inter";
font-weight: 600;
src: url("../fonts/Inter-Bold.ttf");
}
@font-face {
font-family: "inter";
font-weight: 700;
src: url("../fonts/Inter-SemiBold.ttf");
}
body {
    font-family: "inter";
    font-size: 14px;
}
a {
    color: #666;
    text-decoration: none;
}
ul,li {
    list-style: none;
}
a:hover, a.active {
    color: #c90;
}


.container {
   padding: 0 15px;
   max-width: 100%;
   margin: 0 auto;
}
@media (max-width:1300px) {
    .container {
        width: 800px;
    }
}
@media (max-width:900px) {
    .container {
        width: 700px;
    }
}
@media (max-width:900px) {
    .container {
        width: 700px;
    }
}

.logo a span {
    font-size: 30px;
    font-weight: 500;
    color: #c90;
}

.active {
    background-color: #c90;
    border-radius: 10px;
    color: #fff;
}

.menu ul li a {
    font-size: 15px;

}
.title span {
    color: #c90;
    font-size: 25px;
    font-weight: 400;
}
.title p {
    color: #c3c4c5;
}
.item .title-intro {
    color: #c90;
}
.item .sort-desc{
    color: #c3c4c5;
}