h1 {
  font-family: Arial;
  color: lightslategray;
}

ul1 {
  float: right;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 15px;
  right:30px;
}

h2 {
  border-bottom: 2px solid black;
}
p1 {
  color: gray;
}
ul3 {
  list-style: none;
  padding: 0;
  position: absolute;
  left: 20%;
  top: 750px;
}
ul2 {
  list-style: none;
}
ul4 {
  list-style: none;
    padding: 0;
    position: absolute;
    left: 40%;
    top:750px;
  }
  ul5 {
    list-style: none;
      padding: 0;
      position: absolute;
      left: 60%;
      top:750px;
    }
    ul6 {
      list-style: none;
        
      }
      ul7 {
        list-style: none;
          padding: 0;
          position: absolute;
          left: 20%;
          top:874px;
        }
        ul8 {
          list-style: none;
            padding: 0;
            position: absolute;
            left: 40%;
            top:874px;
          }
          ul9 {
            list-style: none;
              padding: 0;
              position: absolute;
              left: 60%;
              top:874px;
            }
